doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title

		meta(name="description", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		include styles
		<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>
	body(ng-app="app")
		div#page
			include header
			block content
		include scripts