extends layout

block content
	script(type="text/template", class="logRow")
		div.row.log-row
			div.col-lg-12
				div.col-lg-2 <%= timestamp %>
				div.col-lg-10
					div.pull-right
						a(href="#").btn.btn-primary.btn-xs View
					span.label.label-primary <%= source %>
					<% _.each(tags, function(tag) { %>
					span.label.label-default <%= tag %>
					<% }) %>
					span.label.label-info <%= type %>
					div.message <%= message %>
		hr

	div.container-fluid
		div.row
			div.col-lg-12
				h1.page-header= title
		div.row
			div.col-lg-12
				div.panel.panel-default
					div.panel-heading Timeline
					div.panel-body
						div.graph
							div#graph-container
		div.row
			div.col-lg-12
				div.panel.panel-default
					div.panel-heading Logs
					div.panel-body
						div.log-results


