body {
  padding-top: 70px;
  padding-bottom: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

div.message,
div.timestamp {
  font-size: 95%;
  padding-top: 0.5em;
}

.table-sm {
  font-size: 95%;
}

.label {
  margin-right: 0.25em;
a
}
color #fff {
  text-decoration: none;
}
div.labels .label {
  float: left;
  margin-bottom: 0.25em;
}
div.vertical-space {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#page-wrapper-fluid {
  padding: 0 15px;
  min-height: 568px;
  background-color: #fff;
}
.modal-message,
.message {
  word-wrap: break-word;
}
.login-well {
  margin-top: 10em;
}

.log-row {
    border-bottom: 1px solid #ddd;
    padding: 0.5em 0;
}