body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.log-row {
	
}

div.message, div.timestamp {
	font-size: 95%;
	padding-top: 0.5em;
}

.label {
	margin-right: 0.25em;
}

.label a {
	color: #fff;
	text-decoration: none;
}

div.vertical-space {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#page-wrapper-fluid {
		padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}