nav(role="navigation", ng-controller="MenuController").navbar.navbar-inverse.navbar-fixed-top
	div.container
		div.navbar-header
			button(type="button", data-toggle="collapse", data-target="menu-navbar-collapse").navbar-toggle
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href="/").navbar-brand SimpleLogs
		div.navbar-collapse#menu-navbar-collapse
			ul.nav.navbar-nav
				li(ng-class="menuClass('dashboard')")
					a(href="#/dashboard") Dashboard
				li(ng-class="menuClass('sources')")
					a(href="#/sources") Sources
				li(ng-class="menuClass('about')")
					a(href="#/api") API