body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.log-row {
	
}

div.message {
	font-size: 95%;
	padding-top: 0.5em;
}

.label {
	margin-right: 0.25em;
}

div.vertical-space {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}