extends /layout

block content
	script(type="text/template", class="logRow")
		div.row.log-row
			div.col-lg-3
				div.timestamp <%= moment(timestamp*1000).format('lll') %>
			div.col-lg-8
				div.labels.row
					span.label.label-primary
						<a href="#source/<%= source %>"><%= source %></a>
					<% _.each(tags, function(tag) { %>
					span.label.label-default
						<a href="#tag/<%= tag %>"><%= tag.substring(0, 30) %></a>
					<% }) %>
					span.label.label-info 
						<a href="#type/<%= type %>"><%= type %></a>
				div.row
					div.message <%= message %>
			div.col-lg-1
				div.pull-right
					<a href="#" data-id=<%= _id %> class="btn btn-primary btn-xs view-log">View</a>
		hr

	script(type="text/template", class="logDetail")
		div.row
			div.col-lg-2 
				span.label.label-info Source
			div.col-lg-10
				span.label.label-primary
					<a href="#source/<%= source %>"><%= source %></a>
		div.vertical-space
		div.row.labels
			div.col-lg-2
				span.label.label-info Tags
			div.col-lg-10
				<% _.each(tags, function(tag) { %>
				span.label.label-default
					<a href="#tag/<%= tag %>" title="<%= tag %>"><%= tag.substring(0, 30) %></a>
				<% }) %>
		div.vertical-space
		div.row
			div.col-lg-2 
				span.label.label-info Type
			div.col-lg-10
				span.label.label-warning
					<a href="#type/<%= type %>"><%= type %></a>
		div.vertical-space
		div.row
			div.col-lg-2 
				span.label.label-info Created
			div.col-lg-10
				span.label.label-warning <%= moment(timestamp*1000).format('LLLL') %>
		hr
		div.row
			div.col-lg-2
				span.label.label-info Message
			div.col-lg-10.modal-message <%= message %>

	nav(role="navigation").navbar-default.navbar-static-side
		ul.nav#side-menu
			li
				a(href="/dashboard")
					i.fa.fa-dashboard.fa-fw
					span Dashboard
			li
				a(href="/dashboard")
					i.fa.fa-sitemap.fa-fw
					span Sources
						span.fa.arrow
				ul.nav.nav-second-level
					each source in sources
						li
							a(href="/dashboard#source/"+source.name) #{source.name}
	div#page-wrapper
		div.container-fluid
			div.row
				div.col-lg-12
					h1.page-header= title
			//- div.row
			//- 	div.col-lg-12
			//- 		div.panel.panel-default
			//- 			div.panel-heading Timeline
			//- 			div.panel-body
			//- 				div.graph
			//- 					div(style="height:300px")#graph-container
			div.row
				div.col-lg-12
					div.panel.panel-default
						div.panel-heading Logs
						div.panel-body
							div.log-results

block scripts
	script(src="js/Models/Log.js")
	script(src="js/Collections/Logs.js")
	script(src="js/Views/SearchView.js")
	script(src="js/Routers/Router.js")
	script(src="js/app.js")

